---
import Rrss from "../Rrss/Rrss.astro";
import InputNewslatter from "./InputNewslatter/InputNewslatter.tsx";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
const tokenUser = Astro.cookies.get("token")?.value || '';
const pagesHomeFooter = [
  { name: "Quiénes somos", href: "/aboutMe" },
  { name: "Talleres", href: "/workshops" },
  { name: "Donde ayudamos", href: "/communityKitchens" },
  { name: "Eventos", href: "/events" },
  { name: "Noticias", href: "/news" },
];
const pagesLinksFooter = [
  { name: "Quiero ser socio/a", href: "/socios" },
  { name: "Quiero ser voluntario/a", href: "/voluntarios" },
  { name: "Quiero ser sponsor/a", href: "/sponsors" },
];
if(tokenUser && session?.user?.email){
  
}
const pagesLoginFooter = [
  { name: "Ingresar", href: "/auth/login2" },
  { name: "Registrarse", href: "/auth/register" },
];
---

<div
  class=" bg-backgroundGrey  items-center  flex   bottom-0 text-textTertiary p-5"
>
  <div class="flex flex-row  ">
    <div class=" flex flex-col ">
      <div class=" flex flex-row">
        <div class=" ">
          <h5 class="text-xl font-semibold">Inicio</h5>
          <ul class="flex flex-col ">
            {
              pagesHomeFooter.map(({ name, href }, key) => (
                <li class="my-3">
                  <a href={href} id={`footer-link-${key}`}>
                    {name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class=" ">
          <h5 class="text-xl font-semibold">Links</h5>
          <ul class="flex flex-col">
            {
              pagesLinksFooter.map(({ name, href }, key) => (
                <li class="my-3">
                  <a href={href} id={`footer-link-${key}`}>
                    {name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
        <div class=" ">
          {!tokenUser && !session?.user?.email ? (
          <h5 class="text-xl font-semibold">¿No Ingresaste?</h5>
          <ul class="flex flex-col justify-between">
            {
              pagesLoginFooter.map(({ name, href }, key) => (
                <li class="my-3">
                  <a href={href} id={`footer-link-${key}`}>
                    {name}
                  </a>
                </li>
              ))
            }
          </ul>) : null
          }
        </div>
      </div>
      <div class="h-1/5 flex items-end">
        <Rrss />
      </div>
      <div class="flex flex-col   ">
        <div class=" bg-red-500 flex flex-col justify-center content-center w-full ">
          <h4 class="text-2xl font-semibold mb-10">Subscribite al Newslatter</h4>
          <InputNewslatter />
        </div>
        <div >
          <h5 class="text-xl font-semibold">Realizado en Soy Henry</h5>
          <p>
            Esta Pagina esta Realizado por Simon G. Flores - Miguel Tapia - Lucas
            Di Fulvio - Valentino Joel Carrero - Nicolas Addamo - Julian
            Magallanes
            <br />Version N° 1.01.01
          </p>
        </div>
      </div>
    </div>
  </div>
  
</div>