---
import Rrss from "../Rrss/Rrss.astro";
import InputNewslatter from "./InputNewslatter/InputNewslatter.tsx";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
const tokenUser = Astro.cookies.get("token")?.value || "";
const pagesHomeFooter = [
  { name: "Quiénes somos", href: "/aboutMe" },
  { name: "Talleres", href: "/workshops" },
  { name: "Donde ayudamos", href: "/communityKitchens" },
  { name: "Eventos", href: "/events" },
  { name: "Noticias", href: "/news" },
];
const pagesLinksFooter = [
  { name: "Quiero ser socio/a", href: "/socios" },
  { name: "Quiero ser voluntario/a", href: "/voluntarios" },
  { name: "Quiero ser sponsor/a", href: "/sponsors" },
];
if (tokenUser && session?.user?.email) {
}
const pagesLoginFooter = [
  { name: "Ingresar", href: "/auth/login2" },
  { name: "Registrarse", href: "/auth/register" },
];
---

<div
  class="bg-backgroundGrey flex bottom-0 text-textTertiary p-2 flex-col items-center justify-center"
>
  <div
    class="flex flex-col w-full md:justify-start justify-center items-center"
  >
    <div class="flex flex-row w-full justify-between flex-wrap">
      <div class="flex flex-row justify-between w-full">
        <div class="flex flex-row flex-wrap gap-5 w-2/3 justify-around">
          <div class="">
            <h5 class="text-lg font-semibold my-2">Inicio</h5>
            <ul class="flex flex-col gap-1 w-40 text-sm">
              {
                pagesHomeFooter.map(({ name, href }, key) => (
                  <li class="">
                    <a href={href} id={`footer-link-${key}`}>
                      {name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="">
            <h5 class="text-lg font-semibold my-2">Links</h5>
            <ul class="flex flex-col gap-1 w-40 text-sm">
              {
                pagesLinksFooter.map(({ name, href }, key) => (
                  <li class="">
                    <a href={href} id={`footer-link-${key}`}>
                      {name}
                    </a>
                  </li>
                ))
              }
            </ul>
          </div>
          <div class="">
            {
              !tokenUser && !session?.user?.email ? (
                <>
                  <h5 class="text-lg font-semibold my-2">¿No Ingresaste?</h5>
                  <ul class="flex flex-col gap-1 w-40 text-sm">
                    {pagesLoginFooter.map(({ name, href }, key) => (
                      <li class="">
                        <a href={href} id={`footer-link-${key}`}>
                          {name}
                        </a>
                      </li>
                    ))}
                  </ul>
                </>
              ) : null
            }
          </div>
        </div>
        <div class="flex items-start w-56 justify-end p-2">
          <Rrss />
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col justify-start mx-4 py-4 gap-2 w-full">
    <h4 class="text-lg font-semibold justify-start mx-2">
      Subscribite al Newslatter
    </h4>
    <InputNewslatter />
  </div>
  <div class="w-full">
    <!-- <h5 class="text-xl font-semibold">Realizado en Soy Henry</h5> -->
    <p class="text-end text-sm">
      Esta Pagina fue desarrollada por <strong>TaliextGroup</strong>
      <!-- <br />Version N° 1.01.01 -->
    </p>
  </div>
</div>
