---
import { Image } from "astro:assets";
import AsideMenuDasboard from "../../components/AsideMenuDasboard/AsideMenuDasboard.astro";
import ButtonCTASmall from "../../components/Buttons/ButtonCTASmall.astro";
import ButtonPrimarySmall from "../../components/Buttons/ButtonPrimarySmall.astro";
import DasboardLayouts from "../../layouts/DasboardLayouts.astro";
import vectorIcon from "../../assets/vectorIcon.svg"
const news = [
    {UrlImage:"https://img.freepik.com/foto-gratis/cerrar-reportero-tomando-entrevista_23-2149183577.jpg?t=st=1715433851~exp=1715437451~hmac=b50a781ec26a44db62f965d1d3c6ce80dc2bb10608db32149f4068e580e386d9&w=1380",
    title:"Subitulo de noticia",
    subtitle:"Titulo de noticia",
    date: "Mayo 09, 2024, Jueves",
    location:"Alta Gracia, Córdoba",
    href:"/dashboardAdmin/createNews"},
    {UrlImage:"https://img.freepik.com/foto-gratis/cerrar-reportero-tomando-entrevista_23-2149183577.jpg?t=st=1715433851~exp=1715437451~hmac=b50a781ec26a44db62f965d1d3c6ce80dc2bb10608db32149f4068e580e386d9&w=1380",
    title:"Subitulo de noticia",
    subtitle:"Titulo de noticia",
    date: "Mayo 09, 2024, Jueves",
    location:"Alta Gracia, Córdoba",
    href:"/dashboardAdmin/volunteers"},
    {UrlImage:"https://img.freepik.com/foto-gratis/cerrar-reportero-tomando-entrevista_23-2149183577.jpg?t=st=1715433851~exp=1715437451~hmac=b50a781ec26a44db62f965d1d3c6ce80dc2bb10608db32149f4068e580e386d9&w=1380",
    title:"Subitulo de noticia",
    subtitle:"Titulo de noticia",
    date: "Mayo 09, 2024, Jueves",
    location:"Alta Gracia, Córdoba",
    href:"/dashboardAdmin/volunteers"},
    
]
---
<DasboardLayouts title="DashboardAdmin - Un Litro Alta Gracia.">
    <div class="flex flex-row h-screen bg-secondary">
        <div class="w-1/3 h-full pl-14 py-10">
            <AsideMenuDasboard><h3 class="text-3xl font-medium text-tertiary">Menu de Control</h3></AsideMenuDasboard>
        </div>
        <div class="2-m h-full  w-full px-14 py-10 flex flex-col ">
            <div class="shadown-3xl rounded-xl bg-textPrimary shadow-3xl p-10 h-full flex flex-col justify-between">
                <h4 class="text-2xl font-medium text-tertiary mb-10 w-full text-end">Seccion Noticias</h4>
                <ul>
                    {
                        news.map(({UrlImage, title, subtitle,date,location,href}, key)=>
                        <>
                        <a class="flex flex-row justify-between p-10 items-center text-sm" id={`card${key}`} href={href}>
                        <div class="flex">
                            <img src={UrlImage} alt={title} class="w-20 h-20 rounded-full object-cover mr-4"/>
                            <div >
                                <h6 class="text-tertiary text-base font-semibold">{title}</h6>
                                <p>{subtitle}</p>
                                <p>{date}</p>
                            </div>
                        </div>
                        <div>
                            <p>{location}</p>
                        </div>
                            <Image src={vectorIcon} alt="icono de vector">
                    </a>
                    </hr>
                    </>
                    )
                    }
                </ul>
                <div class="w-full flex justify-center">
                    <a href="/dashboardAdmin/newsCreate"><ButtonCTASmall title="Agregar Noticia"/></a>
                </div>
            </div>
            <div class="w-full flex justify-center mt-6">
                <a href="/dashboardAdmin/volunteers"><ButtonPrimarySmall title="Siguiente"/></a>
            </div>
        </div>
    </div>
</DasboardLayouts>