---
import Layout from "../layouts/Layout.astro";
import ButtonPrimary from "../components/Buttons/ButtonPrimary.astro";
import ButtonSecondary from "../components/Buttons/ButtonSecondary.astro";
import ButtonCTA from "../components/Buttons/ButtonCTA.astro";
import Card from "../components/Cards/Card.astro";
import imageCard from "../assets/image55.jpeg";
import { Image } from "astro:assets";
// import Carousel from "../components/CarruselFromHome/CarruselFromHome";

import CarruselFromHome from "../components/fromHome/CarruselFromHome/CarruselFromHome.astro";
import SectionInformation from "../components/fromHome/SectionInformation/SectionInformation.astro";

import CartitaPrueba from "../components/CartitaPrueba.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("tips");


---

<Layout title="Inicio - Un Litro Alta Gracia.">
  <main>
    <CarruselFromHome />
	<SectionInformation />
	<section>

		{
			posts.map((post:any) => (
				<CartitaPrueba
					image={post.data.image}
					title={post.data.title}
					question={post.data.question}
					description={post.data.description}
				/>
				
			))
		}
</sect>
  </main>
</Layout>

<!-- <style>
	main {
		/* height: 100vh; */
		/* margin: auto; */
	}
</style> -->

<!-- <main> -->
<!-- <h1>HOLA</h1> -->
<!-- <Carousel/> -->
<!-- <ButtonPrimary title="boton primario" />
	<ButtonSecondary title="boton secundario" idEvent="btn"/>
	<ButtonCTA title="boton CTA" idEvent="buttonLarge"/>
	<Card title='Titulo de Card' subtitle='Subtitulo de card' href='' calendar='Fecha' location='Ubicacion'>
	<Image src={imageCard} alt='Titulo de Card' class="rounded-3xl"/>
	</Card>
	<ButtonCTA title="boton CTA" idEvent="buttonLarge"/> -->
<!-- </main> -->
<!-- <script>
	function handleClick() {
	  console.log('¡click here...!')
	}
  
	const button = document.getElementById('btn')
  
	button?.addEventListener('click', handleClick)
</script><script>
	function handleClick() {
	  console.log('¡click here...!')
	}
  
	const button = document.getElementById('button')
  
	button?.addEventListener('click', handleClick)
</script> -->
<!-- <style>
	main {
		
	}

</style> -->
