---
import DasboardLayouts from "../../../layouts/DasboardLayouts.astro";
import AsideMenuUser from "../../../components/AsideMenuDasboard/AsideMenuUser.astro";
import { postGoogleLogin } from "../../../helpers/Auth/postGoogleLogin";
import { getSession } from "auth-astro/server";
import rectangle from "../../../assets/rectangleCard.svg";
import cursorIcon from "../../../assets/cursorIcon.svg";
import voluntario from "../../../assets/equipo.jpg";
import ButtonCTASmall from "../../../components/Buttons/ButtonCTASmall.astro";
import socio from "../../../assets/sersponsor.jpg";


const session = await getSession(Astro.request);
console.log(session);
if (session) {
  const response: any = { email: session?.user?.email };
  const object = await postGoogleLogin(response);
  if (object === 'no esta registrado') {
    await Astro.cookies.set("emailUser", session?.user?.email as string);
    return Astro.redirect("/auth/register/personalInformationGoogle");
  }else if (session===null) {
    console.log("no logueado");
  } else {
    console.log("logueado");
    await Astro.cookies.set("token", object);
  }
}
---
<DasboardLayouts title="DashboardAdmin - Un Litro Alta Gracia.">
  <div class="flex flex-row h-screen bg-secondary">
    <div class="w-1/3 h-full pl-14 py-10">
      <AsideMenuUser
        ><h3 class="text-3xl font-medium text-primary">
          Menu de control
        </h3></AsideMenuUser
      >
    </div>
    <div class="h-full w-full px-14 py-10 flex flex-col justify-between">
      <div
        class="shadown-3xl rounded-xl bg-textPrimary shadow-3xl p-10 flex flex-col justify-start h-full gap-4"
      >
        <h4 class="text-2xl font-medium text-primary w-full text-end">
          SUMATE A NOSOTROS
        </h4>
        <h5>
          Participa, diviértete, construye y mostremos que se puede vivir en un
          mundo mucho mejor y más colaborativo. Aquí encontrarás un grupo
          extraordinario que te ayudaremos en todo lo que necesites. <strong
            >¡Te esperamos!</strong
          >
        </h5>
        <div class="flex flex-row justify-center items-start gap-24">
          <div
            class="h-96 w-80 rounded-3xl shadow-3xl transition-all hover:shadow-4xl"
          >
            <img
              src={voluntario.src}
              alt="imagen"
              class="absolute h-80 w-80 object-cover rounded-3xl"
            />
            <img
              src={rectangle.src}
              alt="fondo card"
              class="absolute h-96 w-80 rounded-3xl my-10"
            />
            <div class="relative top-64">
              <div class="flex flex-col items-center gap-5">
                <h6 class="font-semibold text-lg">Ser voluntario/a</h6>

                <a href="/dashboardUser/profile/optionSelected/voluntario">
                  <ButtonCTASmall title="Seleccionar" />
                </a>
              </div>
              <a href="/voluntarios" class="">
                <div class="flex justify-end transition-all hover:scale-105">
                  <img src={cursorIcon.src} alt="icono cursor" />
                  <h6 class="font-semibold m-5">Ver detalles</h6>
                </div>
              </a>
            </div>
          </div>
          <div
            class="h-96 w-80 rounded-3xl shadow-3xl transition-all hover:shadow-4xl"
          >
            <img
              src={socio.src}
              alt="imagen"
              class="absolute h-80 w-80 object-cover rounded-3xl"
            />
            <img
              src={rectangle.src}
              alt="fondo card"
              class="absolute h-96 w-80 rounded-3xl my-10"
            />
            <div class="relative top-64">
              <div class="flex flex-col items-center gap-5">
                <h6 class="font-semibold text-lg">Ser socio/a</h6>
                <a href="/dashboardUser/profile/optionSelected/socio">
                  <ButtonCTASmall title="Seleccionar" />
                </a>
              </div>
              <a href="/socios">
                <div class="flex justify-end hover:scale-105 transition-all">
                  <img src={cursorIcon.src} alt="icono cursor" />
                  <h6 class="font-semibold m-5">Ver detalles</h6>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</DasboardLayouts>
