---
import { Image } from "astro:assets";
import logoIcon from "../../assets/Logo.svg";
import home from "../../assets/home.svg";

const { pathname } = Astro.url;
console.log(pathname);
const normalizedPathName =
  pathname.length > 1 && pathname.endsWith("/")
    ? pathname.slice(0, -1)
    : pathname;

const pages = [
  {
    name: "SECCION NOTICIAS",
    href: "/dashboardAdmin/news",
    hrefActive: "/dashboardAdmin/news/newsCreate",
    active: false,
  },
  { name: "SECCION VOLUNTARIOS", href: "/dashboardAdmin/volunteers" },
  { name: "SECCION SOCIOS", href: "/dashboardAdmin/partner" },
  {
    name: "SECCION SPONSORS",
    href: "/dashboardAdmin/sponsors",
    hrefActive: "/dashboardAdmin/sponsors/sponsorCreate",
    active: normalizedPathName.startsWith("/dashboardAdmin/sponsors"),
  },
  
  
  { name: "SECCION MERENDEROS", 
    href: "/dashboardAdmin/communityKitchens" ,
    hrefActive: "/dashboardAdmin/communityKitchens/newCommunityKitchen",
  },
  { name: "SECCION TALLERES DE OFICIO", 
    href: "/dashboardAdmin/workshops" ,
    hrefActive: "/dashboardAdmin/workshops/newWorkshop",
  },
  {
    name: "SECCION EVENTOS",
    href: "/dashboardAdmin/events",
    hrefActive: "/dashboardAdmin/events/eventsCreate",
  },
  {
    name: "SECCION BENEFICIOS",
    href: "/dashboardAdmin/benefits",
    hrefActive: "/dashboardAdmin/benefits/benefitsCreate",
  },
  {
    name: "SECCION DONACIONES",
    href: "/dashboardAdmin/donations",
  },
  { name: "PROPUESTAS RECIBIDAS", href: "/dashboardAdmin/proposals" },
].map((page) => ({
  ...page,
  active:
    normalizedPathName === page.href || normalizedPathName === page.hrefActive,
}));
---

<div
  class="bg-textPrimary rounded-2xl shadow-3xl h-full flex flex-col justify-between w-96"
>
  <div>
    <div
      class="bg-tertiary py-5 px-10 rounded-t-2xl"
    >
      <a href="/"
        ><Image src={logoIcon} alt="Logo de Un Litro de Leche Alta Gracia" /></a
      >
    </div>

    <div class="pt-10 w-full text-center">
      <slot />
    </div>
  </div>
  <div
    class="flex flex-col content-center flex-nowrap justify-start items-start h-full"
  >
    <div
      class="flex flex-col items-start justify-between px-10 gap-4 my-10"
    >
      {
        pages.map(({ name, href, active, hrefActive }, key) => (
          <>
            <a
              href={href}
              class:list={[
                "text-sm font-medium  transition-all   hover:text-tertiary cursor-pointer ",
                {
                  "h-full text-tertiary flex items-center font-semibold ":
                    active,
                },
                { "text-textTertiary ": !active },
              ]}
              id={`nav-link-${key}`}
            >
              <span class="z-10">{name}</span>
            </a>
          </>
        ))
      }
    </div>
  </div>
  <div
    class="flex flex-row items-center justify-center bg-tertiary rounded-b-2xl"
  >
    <a
      href="/"
      class="flex flex-row m-2 p-2 rounded-full cursor-pointer transition-all hover:scale-105"
    >
      <img src={home.src} alt="Fondo de la página de inicio" />
    </a>
  </div>
</div>

